__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

venv/
.env/
ENV/
env/

.coverage
htmlcov/
.pytest_cache/
*.pytest_cache/
*.log

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.tar
*.pid

workspace/
*.tmp

*/__pycache__/
